@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #C9C987;
    width: 100%;
    height: 100px;
}

body{
    background-color: #FFE7BF
}

header>div{
    position: relative;
}

#pesquisa{
    background-color: white;
    height: 30px;
    width: 300px;
    position: absolute;
    left: 50px;
    top: 30px;
    border-radius: 32px;
    display: flex;
}

#pesquisa svg{
    height: 20px;
    width: 23px;
}

#pesquisa>div{
    margin-left: 10px;
    margin-top: 7px;
}

#pesquisa div{
    font-family: 'Inter';
    font-weight: 200;
    font-size: 12px;
}

#lista{
    position: absolute;
    left: 900px;
    top: 30px;
}

#lista>ul{
    display: flex;
    list-style: none;
    gap: 60px;
}

#lista a{
    text-decoration: none;
    color: black;
    font-family: 'Inter';
    font-size: 16px;
}

#lista a:hover{
    color: #FFF0F5;
}


main>div{
    position: relative;
}

#logo{
    /*position: relative;*/
}

#logo>img{
    height: 230px;
    width: 244px;
    position: absolute;
    left: 550px;
    top: -100px;
}

#imgs{
    /*position: relative;*/
}

#imgs img{
    object-fit: cover;
}

#cafe{
    position: absolute;
    left: 100px;
    top: 60px;
}

#cafe>img{
    height: 198px;
    width: 200px;
    border-radius: 137px;
}

#bololimao{
    position: absolute;
    left: 60px;
    top: 200px;
}

#bololimao>img{
    height: 130px;
    width: 130px;
    border-radius: 110px;
}

#croissant{
    position: absolute;
    left: 120px;
    top: 400px;
}

#croissant>img{
    height: 190px;
    width: 190px;
    border-radius: 110px;
}

#cafegelado{
    position: absolute;
    left: 50px;
    top: 540px ;
}

#cafegelado>img{
    border-radius: 110px;
}

#txt{
    /*position: relative;*/
}

#txt>p{
    position: absolute;
    top: 150px;
    text-align: justify;
    left: 400px;
    font-family: 'Inter';
    font-size: 16px;
}


footer{
    background-color: #C9C987;
    width: 100%;
    height: 150px;
    position: relative;
    top: 700px;
    font-family: 'Inter';
}

footer>ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 70px;
    padding-top: 40px;
    text-align: center;
}

footer svg{
    width: 37px;
    height: 37px;
}

footer a{
    color: black;
}